body {
    margin: 0;
    padding: 0;
}

.main {
    background: #bd816f;
    background: linear-gradient(90deg, rgba(189, 129, 111, 1) 2%, rgba(153, 70, 21, 1) 27%, rgba(122, 53, 12, 1) 68%, rgba(94, 38, 5, 1) 89%);
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
}
.card {
    border-radius: 15px;
    overflow: hidden;
}

.card img {
    width: 350px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.card .white-section {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: -20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.card .white-section h2,
p {
    text-align: center;
}

.card .white-section .desc {
    width: 300px;
    margin-left: 26px;
}

.card .white-section h2 {
    margin-top: -10px;
}

.card .white-section .time {
    color: #ff076e;
}
.card .white-section .time2 {
    color:orangered;
}
.card .white-section .time3 {
    color:green;
}


.card .red-section {
    width: 350px;
    height: 85px;
    display: flex;
}

.card .red-section p {
    margin-left: 20px;
    color: white;

}

.card .red-section p:last-child {
    margin-top: -13px;
}

.card .red-section div {
    border-right: 0.1px solid black;
    padding-right: 30px;
    border-color: rgb(14, 13, 13);
}
.card .red-section div:last-child{
    border-right: none;
}
.card .red-section div p{
    padding-left:7px;
    padding-top:3px;
}
.card .red-section div .num:first-child{
    margin-bottom:12px;
}