body {
    background: linear-gradient(to right,
            #e0f7ff 0%, #e0f7ff 9%,
            #cfefff 9%, #cfefff 20%,
            #bde7ff 18%, #bde7ff 30%,
            #a8dcff 30%, #a8dcff 40%,
            #8fd0ff 40%, #8fd0ff 50%,
            #73c2ff 50%, #73c2ff 60%,
            #4fb0ff 60%, #4fb0ff 70%,
            #2f97e6 70%, #2f97e6 80%,
            #1f78bf 80%, #1f78bf 90%,
            #155a91 90%, #155a91 100%);
}

.cards {
    display: flex;
    justify-content: center;  
    gap: 40px;        
}

.cards .card img {
    margin: 60px 0 0 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 350px;
}

.cards .card .white-section {
    width: 350px;
    height: 300px;
    background-color: white;
    margin: -4px 0 0 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.cards .card .white-section .name {
    width: 56px;
    height: 14px;
    font-size: 12px;
    padding: 10px;
    background: #d9d9ff;
    background: linear-gradient(90deg, rgba(217, 217, 255, 1) 2%, rgba(22, 122, 217, 1) 27%);
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 15px;
}

.cards .card .white-section h3 {
    position: absolute;
    top: 46px;
    left: 15px;
    font-size: 25px;
}

.cards .card .white-section .desc {
    position: absolute;
    top: 93px;
    left: 15px;
    width:330px;
    text-align: start;
}

.cards .card .white-section img{
    width:50px;
    height:50px;
    position: absolute;
    top:180px;
    left:20px;
}